<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bonjour{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/styles.css">
    {% endblock %}
</head>
<body>
<navbar class="navbar">
    <h2 class="navbar_title">CinemaApp</h2>
    <ul class="navbar_ul">
        <li class="navbar_li"><a class="navbar_li_link" href="/admin/cinemas">Tous les cinemas</a></li>
        <li class="navbar_li"><a class="navbar_li_link" href="/respProg/films">Tous les films</a></li>
    </ul>
</navbar>
<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>
