{% extends 'base.html.twig' %}

{% block title %}Les cinémas{% endblock %}

{% block body %}
    <h1>{{ cinema.nom }}</h1>
    {% for filmAffiche in filmsAAffiche %}
        <ul>
            <li>Id : {{ filmAffiche.id }}</li>
            <li>Nom : {{ filmAffiche.film.titre }}</li>
        </ul>
        <br>
    {% endfor %}
{% endblock %}