{% extends 'base.html.twig' %}

{% block title %}Les cinémas{% endblock %}

{% block body %}
    <h1 class="nom_cinema">{{ cinema.nom }}</h1>
    <div class="cinema_liste_films">
        {% for filmAffiche in filmsAAffiche %}
            <ul class="cinema_films" onclick="location.href='/index.php/admin/cinemas/programmation/' + {{ filmAffiche.id }}">
                <li class="cinema_film_id">{{ filmAffiche.id }}</li>
                <li class="cinema_film_nom">{{ filmAffiche.film.titre }}</li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}
