{% extends 'base.html.twig' %}
{% block title %}Les cinémas{% endblock %}

{% block body %}
    <h1 class="titre_page">Nos cinémas</h1>
    {% for cinema in cinemas %}
        <ul class="cinema" onclick="location.href='/index.php/admin/cinemas/' + {{ cinema.id }}">
            <li class="cinema_nom">{{ cinema.nom }}</li>
            <li class="cinema_adresse">{{ cinema.adresse }}</li>
            <li class="cinema_desc">{{ cinema.description }}</li>
        </ul>
        <br>
    {% endfor %}
{% endblock %}
