{% extends 'base.html.twig' %}

{% block title %}Programmation d'un cinéma{% endblock %}

{% block body %}
    <h1 class="nom_cinema">{{ cinema.nom }}</h1>

    <p class="programmation_titre">Modification de la programmation</p>
    <div class="programmation_films">
        {{ form(form, {'attr': {'class': 'programmation'}}) }}
    </div>
{% endblock %}
