{% extends 'base.html.twig' %}

{% block title %}Un film{% endblock %}

{% block body %}
    <div class="film_detail">
        <h1 class="film_detail_titre">{{ film.titre }}</h1>
        <p class="film_detail_real">de {{ film.realisateur }}</p>
        <p class="film_detail_resume">{{ film.resume }}</p>
    </div>
{% endblock %}
