/* Navbar */
.navbar{
    display: flex;
    height: 8vh;
    width: 100%;
    background-color: #0082e6;
    padding: 2vh 2vw;
    justify-content: space-between;
}
.navbar_title{
    color: #FFFFFF;
    font-size: 3vh;
    font-family: Futura;
    font-weight: lighter;
}
.navbar_ul{
    display: flex;
    flex-direction: row;
}
.navbar_li{
    margin: 0.7vh 4vw;
    color: #FFFFFF;
    font-size: 2.2vh;
    font-family: Futura;
}
.navbar_li_link{
    text-decoration: none;
}

/* Cinema */
.cinema{
    width: 75vw;
    height: auto;
    margin: auto;
    display: flex;
    padding: 2vw 5vw;
    flex-direction: column;
    border: 1px solid #0082e6;
}

.cinema_nom{
    font-size: 3vw;
    font-family: "Gill Sans", sans-serif;
}

.cinema_adresse{
    margin: -0.5vw 0 0 0.3vw;
    font-size: 1.5vw;
    font-family: "Gill Sans", sans-serif;
    color: #6c757d;
    font-weight: 100;
    font-style: italic;
}

.cinema_desc{
    font-size: 2vw;
    font-family: "Arial", sans-serif;
}

.titre_page{
    color: #6391FF;
    text-align: center;
    font-family: Arial;
    font-weight: bolder;
    font-size: 5vw;
    margin: 2vh 0 4vw 0;
}

.nom_cinema{
    text-align: center;
    color: #6391FF;
    font-family: Arial;
    font-weight: bolder;
    font-size: 5vw;
    margin: 2vh 0 4vw 0;
}

.cinema_liste_films{
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
}
.cinema_films{
    margin: auto;
    width: 10vw;
    height: 10vw;
    border: 1px solid #000000;
    text-align: center;
}

.cinema_film_nom{
    margin: 3.8vw auto;
    font-size: 1.5vw;
    font-family: "Gill Sans", sans-serif;
}

.programmation_titre{
    text-align: center;
    font-size: 2vw;
    font-family: "Gill Sans", sans-serif;
    margin: 2vw;
}

.programmation_films{
    text-align: center;
}

/*Film*/
.film{
    width: 75vw;
    height: auto;
    margin: auto;
    display: flex;
    padding: 2vw 5vw;
    flex-direction: column;
    border: 1px solid #0082e6;
}

.film_titre{
    font-size: 3vw;
    font-family: "Gill Sans", sans-serif;
}

.film_realisateur{
    margin: -0.5vw 0 0 0.3vw;
    font-size: 1.5vw;
    font-family: "Gill Sans", sans-serif;
    color: #6c757d;
    font-weight: 100;
    font-style: italic;
}
.film_resume{
    font-size: 2vw;
    font-family: "Arial", sans-serif;
}

.film_detail{
    width: 75vw;
    margin: 5vh auto;
}

.film_detail_titre{
    font-size: 3vw;
    font-family: "Gill Sans", sans-serif;
}
.film_detail_real{
    font-size: 1.5vw;
    margin: -0.5vw 0 0 0.3vw;
    font-family: "Gill Sans", sans-serif;
    color: #6c757d;
    font-weight: 100;
    font-style: italic;
}
.film_detail_resume{
    font-size: 2vw;
    font-family: "Arial", sans-serif;
}

.roadToProgCinema{
    display: flex;
    width:10vw;
    margin: 2vh auto;
}

.button_progCinema{
    width: 10vw;
    background-color: #117a8b;
    color: #FFFFFF;
}
